html, body{
    margin:0;
    padding:0;
}

#content {
    display: flex;
    background-color: antiquewhite;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.presentation{
    width: 80vmin;
    height: 80vmin;
    border: 3px solid grey;
    border-radius: 10px;
    background-color: #fff;
}

.slide{
    background-color: #fff;
    display: inline-block;
    margin: 10%;
    height: 80%;
    width: 80%;
    text-align: center;
    font-size: 10vmin;
}

.chooser{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;

}

.chooser *{
    max-width: 20%;
    margin: 5% 2.5%;
}

.presentation>.slide{
    display:none;
}

.presentation>.slide.active{
    display:inline-block;
}