html, body{
    margin:0;
    padding:0;
}

#content {
    display: flex;
    background-color: antiquewhite;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.presentation{
    width: 80vmin;
    height: 80vmin;
    border: 3px solid grey;
    border-radius: 10px;
    background-color: #fff;
}

.slide{
    background-color: #fff;
    display: inline-block;
    margin: 10%;
    height: 80%;
    width: 80%;
    text-align: center;
    font-size: 10vmin;
}

.chooser{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;

}

.chooser *{
    max-width: 20%;
    margin: 5% 2.5%;
    height: 20vmin;
}

.presentation>.slide{
    display:none;
}

.presentation>.slide.active{
    display:inline-block;
}

.chooser>*.choosen{
    max-width: 30%;
    animation-name:  choosen;
    animation-duration: 2s;
    animation-timing-function: ease;
}


.chooser>*:not(.choosen){
    max-width: 16%;
    animation-name:  unchoosen;
    animation-duration: 2s;
    opacity: .25;
    animation-timing-function: linear;
}

@keyframes choosen{
    from {
        max-width: 20%;
    }
    to{
        max-width: 30%;
    }
}

@keyframes unchoosen{
    from {
        max-width: 20%;
        opacity: 1;
    }
    to{
        max-width: 16%;
        opacity: .25;
    }
}